{% load staticfiles %}
<!-- Home Page ==========================================-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Словник Фемінітивів</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll em-text" href="index.html#page-top">Словник фемінітивів</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav  navbar-right">
                    <!-- Hidden li included to remove active class from q-a link when scrolled up past q-a section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#q-a">Запитання</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html#about">Про Словник</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html#contact">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Questions Section -->
 <section id="title-bar">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1>Найбільш поширені запитання</h1>
               </div>
           </div>
         </div>
       </section>


       <section id="q-a">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <h2>Загальне про цю сторінку</h2>
                     <p>Ця сторінка створена, щоб відповісти на запитання щодо фемінітивів та нашого словника.
                       Ви можете надіслати ваші запитання нам на пошту name@domain або скориставшись контактною формою.
                       Натисніть на запитання, що вас цікавить, щоб прочитати відповідь.
                       Ut faucibus turpis in leo facilisis sagittis. Vivamus tincidunt, leo non dapibus malesuada, neque nisi volutpat tortor,
                       a venenatis urna elit efficitur eros. Sed eu dolor metus. Integer leo enim, sagittis fermentum nunc eu, tristique iaculis elit. </p>
                       <br>

                  </div>
                </div>
              </div>
            </section>

             <!-- jQuery -->
             <script src="{% static 'js/jquery.js' %}"></script>

             <!-- Bootstrap Core JavaScript -->
             <script src="{% static 'js/bootstrap.min.js' %}"></script>

             <!-- Scrolling Nav JavaScript -->
             <script src="{% static 'js/jquery.easing.min.js' %}"></script>
             <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
