{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
 <section id="title-bar">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1>{{ word.feminitive1 }}</h1>
               </div>
           </div>
         </div>
       </section>


       <section id="q-a">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                   <p> <a href="/words/all">Повернутися до Каталогу</a></p>
                     <h2> {{ word.masculinitive1 }} </h2>
                  </div>
                </div>
              </div>
            </section>

{% endblock %}
