{% extends 'base.html' %}

{% block content %}

  {% if form.errors %}
    <p class="error">Вибачте, ви ввели неправильне ім'я користувача/-ки чи пароль</p>
  {% endif %}

  <form action="/accounts/auth/" method="POST">{% csrf_token %}
    <label for="username">Ім'я користувача/-чки</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />

  </form>

{% endblock %}
